<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.accountapi.mapper.UserMapper">

    <resultMap id="userMap" type="user">
        <result column="user_id" property="userId"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="reg_date" property="regDate"/>
        <result column="withd_date" property="withdDate"/>
        <result column="upd_date" property="updDate"/>
        <result column="withd_status" property="withdStatus"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="gender" property="gender"/>
        <result column="user_auth" property="userAuth"/>
    </resultMap>

    <!-- 유저정보 체크 -->
    <select id="findUserById" resultMap="userMap">
        SELECT *
        FROM TBL_USER
        WHERE user_id = #{userId}
        AND withd_status = 0
    </select>

    <!-- 회원가입 -->
    <insert id="createUser" parameterType="user">
        INSERT INTO TBL_USER
        (user_id, password, email, reg_date, withd_status, name, phone, gender, user_auth)
        VALUES(#{userId}, #{password}, #{email}, #{regDate}, 0, #{name}, #{phone}, #{gender}, 0)
    </insert>

    <!-- 아이디 중복 체크 -->
    <select id="checkDuplicateId" parameterType="String" resultType="int">
        SELECT COUNT(user_id)
        FROM TBL_USER
        WHERE user_id = #{userId}
    </select>

</mapper>
